.branding {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.brand_img {
  display: flex;
  // justify-content: space-around;
  // justify-content: center;
  width: 85vw;
  justify-content: space-between;
  // row-gap: 80px;
}
@media screen and (max-width: 1106px) {
  .brand_img {
    // width: 70vw;
    flex-wrap: wrap;
    // display: flex;
    // justify-content: flex-start;
    // flex-grow: 1;
    justify-content: space-evenly;
  }
}

